.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  border-radius: 5px;
  margin: 0 auto;
}

.theme-light {
  background-color: #ebebec;
  color: #2f3437;
}

.theme-dark {
  background-color: #2f3437;
  color: #ebebec;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar .theme-icon {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .App {
    width: 70%;
  }
}
